BACKEND_PORT=8080
SPRING_PROFILES_ACTIVE="local-dev"

MONGO_PORT=27017
MONGO_CONTAINER_NAME=tripmates-mongo
MONGO_INITDB_ROOT_USERNAME=mongo-user
MONGO_INITDB_ROOT_PASSWORD=mongo-password
MONGO_INITDB_DATABASE=tripmates

NEO4J_USER=neo4j
NEO4J_PASSWORD=neo-password
NEO4J_BROWSER_PORT=7474
NEO4J_BOLT_PORT=7687
SPRING_NEO4J_URI=bolt://neo4j:${NEO4J_BOLT_PORT}

CLOUDINARY_CLOUD_NAME=reemplazar_por_cloudinary_cloud_name_
CLOUDINARY_API_KEY=reemplazar_por_cloudinary_api_key
CLOUDINARY_API_SECRET=reemplazar_por_cloudinary_api_secret

GMAIL_KEY=reemplazar_por_gmail_key
GMAIL_NAME=reemplazar_por_el_nombre_del_email
FRONTEND_URL_BASE=localhost:5173
